Source: kalliopen-launcher
Section: utils
Priority: optional
Maintainer: Skyslycer <noreply@skyslycer.de>
Build-Depends: debhelper-compat (= 13), dh-python, pybuild-plugin-pyproject, python3-all, python3-setuptools
Standards-Version: 4.6.2
Rules-Requires-Root: no

Package: kalliopen-launcher
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, python3-gi, gir1.2-gtk-4.0, gir1.2-gtk-3.0, gir1.2-ayatanaappindicator3-0.1, docker.io, docker-compose-v2, postgresql-client
Description: KalliOpen local administration application
 GTK4 desktop application for installing, running, updating, backing up,
 and migrating a local KalliOpen instance.
